/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("http://www.hdwallpapersfreedownload.com/uploads/large/games/league-of-legends-high-quality-wallpapers.jpg");
	background-color: blue;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	font-family: Impact, Charcoal, sans-serif;
}
img{
    display:block;
    margin: auto; 
}
.head1{
	text-align: center;
	font-size: 3.0em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #B8860B;
}
.tt1{
	position: center;
	text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 8px 0;
}
.tt2{
	text-align: center;
	position: center;
	left: 20%;
	margin: 10px 0;
	font-size: 1.3em;
	color: #2EFEF7;
}
.label1{
	text-align: center;
	position: center;
}
.submit{
	text-align: center;
	margin-top: 20px;
	background: black;
}
.bottom{
	text-align: center;
	font-size: 1.5em;
	color: green;
	background: black;
}
@media screen and (min-width: 480px) {
  
  
#button{
	background-color: blue;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

}

@media screen and (min-width: 768px) {

  
 .button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;;
  }
}
